html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #383636;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* Ensure the layout adapts to different screen sizes */
@media (max-width: 768px) {
  .ant-layout-header {
    padding: 10px 20px;
  }

  .ant-btn {
    width: 100%;
  }

  .ant-input {
    width: 100%;
  }
}