html,
body {
  min-height: 100vh;
  padding: 10;
  margin: 10;
  font-family: system-ui, sans-serif;
  background-color: #383636;
  overflow-x: hidden; /* Prevent horizontal scroll issues */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.about-p {
  color: #dfc778;
}

.details-p{
  color: #dfc778;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  /* Stack content vertically */
  div {
    flex-direction: column;
    text-align: center;
  }

  /* Adjust image size */
  img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto; /* Center image */
  }

  /* Responsive text */
  .details-p {
    font-size: 0.9rem;
  }

  .about-p{
    font-size: 0.9rem;
  }
  

  h1 {
    font-size: 1.2rem;
  }
}
